.container
  .row
    .col-md-5.col-md-offset-3
      %ul.notification-index-list
        - @notifications.each do |notification|
          %li= render 'notification', notification: notification
          %li
            On
            = notification.created_at.to_time.strftime('%B %e at %l:%M %p')