// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_avatar {
  margin: 20px auto;
}
.profile-header {
  padding: 20px 0;
}
.profile-image {
  margin: 20px auto;
  height: 152px;
  width: 152px;
}
.user-name-and-follow {
  display: inline;
}
.profile-user-name {
  display: inline;
}
.bt.edit-button {
  border-color: #213E63;
  color: #818488;
  margin-left: 20px;
}
.profile-bio {
  margin-top: 20px;
}